{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="container">
    <div class="row text-center">
        <h1>Login</h1>
        <div class="col-6 mx-auto ">
        <form method="POST">
            <div class="row g-3 mt-3">
                <div class="col-12 form-floating">
                    <input type="text" name="username" class="form-control">
                    <label>Username</label>
                </div>
                <div class="col-12 form-floating">
                    <input type="password" name="password" class="form-control">
                    <label>Password</label>
                </div>
                <div class="col-12">
                    <a href="#" class="float-start">Forgot Password</a>
                    <a href="#" class="float-end">Create Password</a>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>

        {% if error %}
            <h4><strong>Error:</strong> {{error}}</h4>
        {% endif %}
    </div>
</div>

{% endblock %}